@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300;400&family=Lora&display=swap');


html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-color: #070707;
    color: #f0f0f0;
    font-family: 'Lexend Peta', sans-serif;
}

.navbar, .navbar-light{
    background-color:#070707 !important;
    color:#f0f0f0 !important;
}

.profile-img, #main-img{
    height: 50vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#about-txt{
    margin-top: 25px;
    margin-bottom: 25px;
}

#about-headline{
    margin-bottom: 40px;   
}

.about-info{
    font-size: 1.15rem;
    font-family: 'Lora', serif;;
}

.navbar-nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 0 !important;
    padding-right: 0;
}

.form-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 35px auto;
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type="text"],input[type="email"],#message,select{
    background-color: #f5f5f5;
    border: 2px solid transparent;
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 22px;
}

textarea{
    resize: none;
}

#message{
    height: 100px;
}

.submit-button{
   background-color:#070707;
   color: #f0f0f0;
   width: 100%;
   height: 50px;
   padding: 10px;
   margin-top: 12px;
   font-size: 1.3rem;
   border: 2px #f0f0f0 solid;
   text-transform: uppercase;
}

.seemore-button{
    background-color:#070707;
    color: #f0f0f0;
    width: 20%;
    height: auto;
    padding: 10px;
    margin: 12px;
    font-size: 1.3rem;
    border: 2px #f0f0f0 solid;
    text-transform: uppercase;
    clear: both;
    float: right;
 }

.submit-button:hover:focus, .seemore-button:hover:focus{
    color:#f83812;
    border: 2px #f83812 solid;
}
a {
    text-decoration: none;
    color:#f0f0f0;
}
a:hover {
    color:#f83812;
    border-bottom: #f83812;
}
a:focus {
    color:#f83812;
    border-bottom: 2px #f83812 solid;
}

.content{
    min-height:calc(100vh - 70px);
}

footer{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 50px;
    margin-bottom:0;
}

.normal-footer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 80px;
}

#main-img{
    height: 400px !important;
    background-repeat: no-repeat;
    object-fit: cover;
}

.intro-text{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.node-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.node-img{
    border: 1px white solid;
}

#index-row1{
    margin-bottom: 20px;
}

.img-container-collec {
    width:100%;
}

.collec1, .collec2, .collec3 {
    height: 30%;
}
.img-collec {
    flex-basis:auto;
}
.nb-img {
    flex-basis:100%;
}
