@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300;400&family=Lora&display=swap');


html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-color: black;
    color: white;
    font-family: 'Lexend Peta', sans-serif;
}

.navbar, .navbar-light{
    background-color:black !important;
    color: white !important;
}

.profile-img, #main-img{
    height: 50vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#about-txt{
    margin-top: 25px;
    margin-bottom: 25px;
}

#about-headline{
    margin-bottom: 40px;   
}

.about-info{
    font-size: 1.15rem;
    font-family: 'Lora', serif;;
}

.navbar-nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 0 !important;
    padding-right: 0;
}

.form-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 35px auto;
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type="text"],input[type="email"],#message,select{
    background-color: #f5f5f5;
    border: 2px solid transparent;
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 22px;
}

textarea{
    resize: none;
}

#message{
    height: 100px;
}

.submit-button{
   background-color: black;
   color: white;
   width: 100%;
   height: 50px;
   padding: 10px;
   margin-top: 12px;
   font-size: 1.3rem;
   border: 2px white solid;
   text-transform: uppercase;
}

.submit-button:hover{
    color:blue;
    border: 2px blue solid;
}

.content{
    min-height:calc(100vh - 70px);
}

footer{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 50px;
    margin-bottom:0;
}

#main-img{
    height: 400px !important;
    background-repeat: no-repeat;
    object-fit: cover;
}

.intro-text{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.node-images{
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    background-repeat: no-repeat;
    object-fit: cover;
}